/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
th{
  padding: 0px;
  background-color: #f08b18!important;
}
table{
  margin-top:25px
}
