.text-center{
padding-left:70px
}
.table > :not(caption) > * > *{
  border-bottom-width:0px!important;
}
table{
  background-color: #babdca!important;
}
hr{
  margin:0px;
  padding:0px;
}
.ingredients{
  margin-left: 22px;
}
